@import './base.css';

#app {
 

  font-weight: normal;
}

a{
  text-decoration: none;

  padding: 3px;
  transition: all ease 0.4s;
}

@media (hover: hover) {
  a:hover {
    color: var(--c-purple-light);
   transform: translateY(-2px);
  }
}


  